In [77]:
import pandas as pd
import numpy as np
import datetime
from datetime import date

In [53]:
columns = ['timestamp', 'game_name', 'total_active_channels', 'total_active_viewers']
sully_gnome = pd.read_csv('natasha.csv',names=columns, header=None)
general_data = pd.read_csv('final_general_view_06_07_19.csv')

In [15]:
sully_gnome.head()

,timestamp,game_name,total_active_channels,total_active_viewers
0,2019-04-22 00:00:00.000,League of Legends,3160,97898
1,2019-04-22 00:00:00.000,Counter-Strike: Global Offensive,1246,54330
2,2019-04-22 00:00:00.000,Ultra Street Fighter IV,2,144
3,2019-04-22 00:00:00.000,Hearthstone,224,33632
4,2019-04-22 00:00:00.000,Dota 2,467,27497

In [36]:
#day of week
day_of_week = []
for item in sully_gnome['timestamp']:
    day = datetime.datetime.strptime(item, "%Y-%m-%d %H:%M:%S.%f").strftime('%A')
    day_of_week.append(day)
    

# datetime.datetime.strptime(sully_gnome['timestamp'][0], "%Y-%m-%d %H:%M:%S.%f").strftime('%A')

In [68]:
#hour

hours = []

for item in sully_gnome['timestamp']:
    hour = datetime.datetime.strptime(item, "%Y-%m-%d %H:%M:%S.%f").strftime('%H')
    hours.append(int(hour))

In [32]:
#viewers to channels ratio (SG doesn't give top streamers)
(sully_gnome['total_active_viewers']/sully_gnome['total_active_channels'])

In [69]:
#add all new columns to SG data
sully_gnome['day_of_week'] = day_of_week
sully_gnome['hour'] = hours
sully_gnome['viewers_to_channels_ratio']=(sully_gnome['total_active_viewers']/sully_gnome['total_active_channels'])

In [70]:
df_SG = sully_gnome[['game_name','day_of_week','hour','viewers_to_channels_ratio']]

In [71]:
df_SG.head()

,game_name,day_of_week,hour,viewers_to_channels_ratio
0,League of Legends,Monday,0,30.980380
1,Counter-Strike: Global Offensive,Monday,0,43.603531
2,Ultra Street Fighter IV,Monday,0,72.000000
3,Hearthstone,Monday,0,150.142857
4,Dota 2,Monday,0,58.880086

In [16]:
# general_data.head()
#important columns: user_name, title,

# What the focus is

- Top 8 channels: (viewers in top 8 streamer's stream/viewers in game)
- Useful data from Sully: timestamp (GameName, DayOfWeek, HourOfDay, MaxActiveViewers)
- Useful data from Ours: (GameTitle, DayOfWeek, HourOfDay (rounded to match Sully), MaxActiveViewers)

In [137]:
general_data.head()

,stream_id,user_id,user_name,game_id,stream_type,title,viewer_count,started_at,language,time_logged,game_name,pic_url,game_genres
0,34424458080,169404114,exxtrem_tv,27546,live,World of Tanks [GER] Relax,2,2019-06-06 09:10:12,de,2019-06-06 10:03:24,World of Tanks,https://static-cdn.jtvnw.net/ttv-boxart/World%...,Action
1,34424458080,169404114,exxtrem_tv,27546,live,World of Tanks [GER] Relax,2,2019-06-06 09:10:12,de,2019-06-06 10:03:24,World of Tanks,https://static-cdn.jtvnw.net/ttv-boxart/World%...,Simulation
2,34424458080,169404114,exxtrem_tv,27546,live,World of Tanks [GER] Relax,2,2019-06-06 09:10:12,de,2019-06-06 10:03:24,World of Tanks,https://static-cdn.jtvnw.net/ttv-boxart/World%...,Action
3,34424458080,169404114,exxtrem_tv,27546,live,World of Tanks [GER] Relax,2,2019-06-06 09:10:12,de,2019-06-06 10:03:24,World of Tanks,https://static-cdn.jtvnw.net/ttv-boxart/World%...,Simulation
4,34424451472,415641747,ghcgroup,27546,live,Деды,2,2019-06-06 09:08:43,ru,2019-06-06 10:03:24,World of Tanks,https://static-cdn.jtvnw.net/ttv-boxart/World%...,Action

In [ ]:
#need: user_name, game_name, time_logged (as day_of_week and hour), viewer_count,

In [117]:
#round the hour to the nearest hour
def round_time(dt=None, round_to=60):
    if dt == None: 
        dt = datetime.datetime.now()
    seconds = (dt - dt.min).seconds
    rounding = (seconds+round_to/2) // round_to * round_to
    return dt + datetime.timedelta(0,rounding-seconds,-dt.microsecond)

In [129]:
#original datetime sample
datetime.datetime.strptime(general_data['time_logged'][0],"%Y-%m-%d %H:%M:%S")

datetime.datetime(2019, 6, 6, 10, 3, 24)

In [130]:
#rounded datetime sample
round_time(datetime.datetime.strptime(general_data['time_logged'][0],"%Y-%m-%d %H:%M:%S"),round_to=60*60)

datetime.datetime(2019, 6, 6, 10, 0)

In [131]:
#hour only datetime
round_time(datetime.datetime.strptime(general_data['time_logged'][0],"%Y-%m-%d %H:%M:%S"),round_to=60*60).strftime('%H')

'10'

In [134]:
#day of week

gen_day_of_week = []
for item in general_data['time_logged']:
    day = round_time(datetime.datetime.strptime(item,"%Y-%m-%d %H:%M:%S"),\
                     round_to=60*60).strftime('%A')
    gen_day_of_week.append(day)

In [135]:
#hour

gen_hours = []

for item in general_data['time_logged']:
    hour = round_time(datetime.datetime.strptime(item,"%Y-%m-%d %H:%M:%S"),\
                     round_to=60*60).strftime('%H')
    gen_hours.append(int(hour))

In [139]:
#check if days of week are covered
print(set(gen_day_of_week))

{'Thursday', 'Tuesday', 'Monday', 'Sunday', 'Saturday', 'Wednesday', 'Friday'}

In [141]:
#check to see if hours are covered
print(set(gen_hours))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23}

In [142]:
len(general_data) - len(gen_day_of_week)

0

In [144]:
#add new data to general_data
general_data['day_of_week'] = gen_day_of_week
general_data['hour'] = gen_hours

In [145]:
general_data.head()

,stream_id,user_id,user_name,game_id,stream_type,title,viewer_count,started_at,language,time_logged,game_name,pic_url,game_genres,day_of_week,hour
0,34424458080,169404114,exxtrem_tv,27546,live,World of Tanks [GER] Relax,2,2019-06-06 09:10:12,de,2019-06-06 10:03:24,World of Tanks,https://static-cdn.jtvnw.net/ttv-boxart/World%...,Action,Thursday,10
1,34424458080,169404114,exxtrem_tv,27546,live,World of Tanks [GER] Relax,2,2019-06-06 09:10:12,de,2019-06-06 10:03:24,World of Tanks,https://static-cdn.jtvnw.net/ttv-boxart/World%...,Simulation,Thursday,10
2,34424458080,169404114,exxtrem_tv,27546,live,World of Tanks [GER] Relax,2,2019-06-06 09:10:12,de,2019-06-06 10:03:24,World of Tanks,https://static-cdn.jtvnw.net/ttv-boxart/World%...,Action,Thursday,10
3,34424458080,169404114,exxtrem_tv,27546,live,World of Tanks [GER] Relax,2,2019-06-06 09:10:12,de,2019-06-06 10:03:24,World of Tanks,https://static-cdn.jtvnw.net/ttv-boxart/World%...,Simulation,Thursday,10
4,34424451472,415641747,ghcgroup,27546,live,Деды,2,2019-06-06 09:08:43,ru,2019-06-06 10:03:24,World of Tanks,https://static-cdn.jtvnw.net/ttv-boxart/World%...,Action,Thursday,10

In [146]:
df_GD = general_data[['game_name','user_name','viewer_count','day_of_week','hour']]

In [148]:

df_GD.head()

        game_name   user_name  viewer_count day_of_week  hour
0  World of Tanks  exxtrem_tv             2    Thursday    10
1  World of Tanks  exxtrem_tv             2    Thursday    10
2  World of Tanks  exxtrem_tv             2    Thursday    10
3  World of Tanks  exxtrem_tv             2    Thursday    10
4  World of Tanks    ghcgroup             2    Thursday    10

In [149]:
df_SG.head()

,game_name,day_of_week,hour,viewers_to_channels_ratio
0,League of Legends,Monday,0,30.980380
1,Counter-Strike: Global Offensive,Monday,0,43.603531
2,Ultra Street Fighter IV,Monday,0,72.000000
3,Hearthstone,Monday,0,150.142857
4,Dota 2,Monday,0,58.880086